# Laravel & PHP
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/*
/storage/logs/*
/bootstrap/cache

# Laravel environment
.env
.env.backup
.env.production
.env.local
.env.staging

# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# PHP tools
.phpactor.json

# Composer & NPM logs
composer.lock
npm-debug.log
yarn-error.log
pnpm-debug.log

# IDEs & Editors
/.idea
/.nova
/.vscode
/.zed
/.fleet
*.sublime-workspace
*.sublime-project

# Homestead
Homestead.json
Homestead.yaml

# OS files
.DS_Store
Thumbs.db

# Cache files
*.cache
